In [1]:
!pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.8/site-packages (1.0.5)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.8/site-packages (from pandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/anaconda3/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas) (1.18.5)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)

In [ ]:
128  64  32  16 8  4  2 1
0    1    0  0  1  0  1 1


0*2**7 + 0*2**6 +

In [2]:
# conventional way to import pandas
import pandas as pd

In [3]:
pd.__version__

'1.0.5'

In [4]:
# assumes a comma separator
movies_df = pd.read_csv('imdb_1000.csv')

In [5]:
movies_df.info() # dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 979 entries, 0 to 978
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   star_rating     979 non-null    float64
 1   title           979 non-null    object
 2   content_rating  976 non-null    object
 3   genre           979 non-null    object
 4   duration        979 non-null    int64
 5   actors_list     979 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 46.0+ KB

In [6]:
type(movies_df)

pandas.core.frame.DataFrame

In [7]:
movies_df.fillna('',inplace=True)

In [8]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 979 entries, 0 to 978
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   star_rating     979 non-null    float64
 1   title           979 non-null    object
 2   content_rating  979 non-null    object
 3   genre           979 non-null    object
 4   duration        979 non-null    int64
 5   actors_list     979 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 46.0+ KB

In [9]:
type(movies_df.genre)

pandas.core.series.Series

In [10]:
movies_df.tail()

,star_rating,title,content_rating,genre,duration,actors_list
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [11]:
type(movies_df)

pandas.core.frame.DataFrame

In [12]:
# examine the first 5 rows
movies_df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [13]:
movies_df.info() # object => string

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 979 entries, 0 to 978
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   star_rating     979 non-null    float64
 1   title           979 non-null    object
 2   content_rating  979 non-null    object
 3   genre           979 non-null    object
 4   duration        979 non-null    int64
 5   actors_list     979 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 46.0+ KB

In [14]:
# select the 'title' Series using bracket notation
movies_df['star_rating']

# or equivalently, use dot notation
movies_df.star_rating

0      9.3
1      9.2
2      9.1
3      9.0
4      8.9
      ...
974    7.4
975    7.4
976    7.4
977    7.4
978    7.4
Name: star_rating, Length: 979, dtype: float64

Bracket notation will always work, whereas dot notation has limitations:

- Dot notation doesn't work if there are spaces in the Series name
- Dot notation doesn't work if the Series has the same name as a    DataFrame method or attribute (like 'head' or 'shape')
- Dot notation can't be used to define the name of a new Series (see below)

In [15]:
# create a new 'Location' Series (must use bracket notation to define the Series name)
movies_df['new_column1'] = movies_df.content_rating + ', ' + movies_df.title
movies_df.head()

,star_rating,title,content_rating,genre,duration,actors_list,new_column1
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...","R, The Shawshank Redemption"
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']","R, The Godfather"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...","R, The Godfather: Part II"
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...","PG-13, The Dark Knight"
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....","R, Pulp Fiction"

In [16]:
# example method: calculate summary statistics
movies_df.describe()
5 + 6 + 7 = 18
mean = 18/3 = 6
std ( standard deviation) = 5-6/6 = 1/6 = 0.16

SyntaxError: invalid syntax (<ipython-input-16-e340609ddf46>, line 5)

In [17]:
# example attribute: number of rows and columns
movies_df.shape

(979, 7)

In [18]:
# example attribute: data type of each column
movies_df.dtypes

star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
new_column1        object
dtype: object

In [19]:
# use an optional parameter to the describe method to summarize only 'object' columns
movies_df.describe(include=['float','int'])

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

# Rename columns in a pandas DataFrame

In [20]:
movies_df = pd.read_csv('imdb_1000.csv')

In [21]:
movies_df.columns

Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
       'actors_list'],
      dtype='object')

In [22]:
# rename two of the columns by using the 'rename' method
movies_df.rename(columns={'star_rating':'star_rating1', 'title':'title1', 
                   'content_rating':'content_rating1','genre':'genre1',
                    'duration':'duration1','actors_list':'actors_list1'},inplace=True)
movies_df.columns

Index(['star_rating1', 'title1', 'content_rating1', 'genre1', 'duration1',
       'actors_list1'],
      dtype='object')

In [23]:
movies_df.columns

Index(['star_rating1', 'title1', 'content_rating1', 'genre1', 'duration1',
       'actors_list1'],
      dtype='object')

Documentation for [**`rename`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.rename.html)

In [24]:
cols = ['city', 'colors reported', 'shape reported', 'state', 'time','actors']
movies_df.columns = cols
movies_df.columns

Index(['city', 'colors reported', 'shape reported', 'state', 'time', 'actors'], dtype='object')

In [25]:
type(cols)

list

In [26]:
# replace the column names during the file reading process by using the 'names' parameter
movies_df = pd.read_csv('imdb_1000.csv', header=0, names=cols)
movies_df.columns

Index(['city', 'colors reported', 'shape reported', 'state', 'time', 'actors'], dtype='object')

Documentation for [**`read_csv`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)

In [27]:
# replace all spaces with underscores in the column names by using the 'str.replace' method
movies_df.columns = movies_df.columns.str.replace(' ', '&')
movies_df.columns

Index(['city', 'colors&reported', 'shape&reported', 'state', 'time', 'actors'], dtype='object')

# Remove columns from a pandas DataFrame

In [45]:

movies_df = pd.read_csv('imdb_1000.csv')
movies_df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [39]:
# remove a single column (axis=1 refers to columns)
#                         axis =0 refers to rows)

movies_df.drop('title', axis=1,inplace=True)
#movies_df.head()
#movies_df.head()

In [40]:
movies_df.head()

,star_rating,content_rating,genre,duration,actors_list
0,9.3,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [41]:
# remove multiple columns at once
movies_df.drop(['genre', 'content_rating','duration'], axis=1, inplace=True)
movies_df.head()

   star_rating                                        actors_list
0          9.3  [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
1          9.2    [u'Marlon Brando', u'Al Pacino', u'James Caan']
2          9.1  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
3          9.0  [u'Christian Bale', u'Heath Ledger', u'Aaron E...
4          8.9  [u'John Travolta', u'Uma Thurman', u'Samuel L....

In [46]:
# remove multiple rows at once (axis=0 refers to rows
#                               axis=1 refers to columns)
movies_df.drop([4, 5], axis=0, inplace=True)
#movies_df.drop(['duration', 'actors_list'], axis=1, inplace=True)
movies_df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ..."

In [47]:
movies_df.reset_index(inplace=True)
movies_df.head()

,index,star_rating,title,content_rating,genre,duration,actors_list
0,0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ..."

# Sort a pandas DataFrame or a Series

In [29]:
# read a dataset of top-rated IMDb movies into a DataFrame
movies_df = pd.read_csv('imdb_1000.csv')
movies_df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [31]:
# sort the 'title' Series in ascending order (returns a Series)
movies_df.duration.sort_values(ascending=False)

476    242
157    238
78     229
142    224
445    220
      ...
88      68
293     68
258     67
338     66
389     64
Name: duration, Length: 979, dtype: int64

In [50]:
# sort in descending order instead
movies_df.title.sort_values(ascending=False).head()

864               [Rec]
526                Zulu
615          Zombieland
677              Zodiac
955    Zero Dark Thirty
Name: title, dtype: object

Documentation for [**`sort_values`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.sort_values.html) for a **Series**. (Prior to version 0.17, use [**`order`**](http://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.Series.order.html) instead.)

In [ ]:
# sort the entire DataFrame by the 'title' Series (returns a DataFrame)
movies_df.sort_values('title').head()

In [ ]:
# sort in descending order instead
movies_df.sort_values('title', ascending=False).head()

# Filter rows of a pandas DataFrame by column

In [32]:
# read a dataset of top-rated IMDb movies into a DataFrame
movies = pd.read_csv('imdb_1000.csv')
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [37]:
movies_100 = movies[(movies['duration'] > 195)|(movies['content_rating'] == 'R')]

In [38]:
movies_100.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."

In [52]:
# examine the number of rows and columns
movies.shape

(979, 6)

**Goal:** Filter the DataFrame rows to only show movies with a 'duration' of at least 200 minutes.

In [53]:
# create a list in which each element refers to a DataFrame row: True if the row satisfies the condition, False otherwise
booleans = []
for length in movies.duration:
    if length >= 200:
        booleans.append(True)
    else:
        booleans.append(False)

In [54]:
# confirm that the list has the same length as the DataFrame
len(booleans)

979

In [55]:
# examine the first five list elements
booleans[0:5]

[False, False, True, False, False]

In [56]:
# convert the list to a Series
is_long = pd.Series(booleans)
is_long.head()

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [57]:
type(is_long)

pandas.core.series.Series

In [58]:
# use bracket notation with the boolean Series to tell the DataFrame which rows to display
movies[is_long]

,star_rating,title,content_rating,genre,duration,actors_list
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
85,8.4,Lawrence of Arabia,PG,Adventure,216,"[u""Peter O'Toole"", u'Alec Guinness', u'Anthony..."
142,8.3,Lagaan: Once Upon a Time in India,PG,Adventure,224,"[u'Aamir Khan', u'Gracy Singh', u'Rachel Shell..."
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
204,8.1,Ben-Hur,G,Adventure,212,"[u'Charlton Heston', u'Jack Hawkins', u'Stephe..."
445,7.9,The Ten Commandments,APPROVED,Adventure,220,"[u'Charlton Heston', u'Yul Brynner', u'Anne Ba..."
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."
630,7.7,Malcolm X,PG-13,Biography,202,"[u'Denzel Washington', u'Angela Bassett', u'De..."
767,7.6,"It's a Mad, Mad, Mad, Mad World",APPROVED,Action,205,"[u'Spencer Tracy', u'Milton Berle', u'Ethel Me..."

In [59]:
# simplify the steps above: no need to write a for loop to create 'is_long' since pandas will broadcast the comparison
is_long = movies['duration'] >= 200
movies[is_long]

# or equivalently, write it in one line (no need to create the 'is_long' object)
movies[movies.duration >= 200]

,star_rating,title,content_rating,genre,duration,actors_list
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
85,8.4,Lawrence of Arabia,PG,Adventure,216,"[u""Peter O'Toole"", u'Alec Guinness', u'Anthony..."
142,8.3,Lagaan: Once Upon a Time in India,PG,Adventure,224,"[u'Aamir Khan', u'Gracy Singh', u'Rachel Shell..."
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
204,8.1,Ben-Hur,G,Adventure,212,"[u'Charlton Heston', u'Jack Hawkins', u'Stephe..."
445,7.9,The Ten Commandments,APPROVED,Adventure,220,"[u'Charlton Heston', u'Yul Brynner', u'Anne Ba..."
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."
630,7.7,Malcolm X,PG-13,Biography,202,"[u'Denzel Washington', u'Angela Bassett', u'De..."
767,7.6,"It's a Mad, Mad, Mad, Mad World",APPROVED,Action,205,"[u'Spencer Tracy', u'Milton Berle', u'Ethel Me..."

In [61]:
# select the 'genre' Series from the filtered DataFrame
movies[movies.duration >= 200].genre

# or equivalently, use the 'loc' method
movies.loc[movies.duration >= 200, 'genre']

2          Crime
7      Adventure
17         Drama
78         Crime
85     Adventure
142    Adventure
157        Drama
204    Adventure
445    Adventure
476        Drama
630    Biography
767       Action
Name: genre, dtype: object

Documentation for [**`loc`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.loc.html)

[<a href="#Python-pandas-Q&A-video-series-by-Data-School">Back to top</a>]

# Apply multiple filter criteria to a pandas DataFrame

In [62]:
# read a dataset of top-rated IMDb movies into a DataFrame
movies = pd.read_csv('imdb_1000.csv')
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [65]:
# filter the DataFrame to only show movies with a 'duration' of at least 200 minutes
movies[(movies.duration >= 200)&(movies.genre =='Crime')&(movies.star_rating > 9)]

,star_rating,title,content_rating,genre,duration,actors_list
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."

Rules for specifying multiple filter criteria in pandas:

- use & instead of and
- use | instead of or
- add parentheses around each condition to specify evaluation order

In [ ]:
# CORRECT: use the '&' operator to specify that both conditions are required
movies[(movies.duration >=200) & (movies.genre == 'Drama')]

In [67]:
# use the '|' operator to specify that a row can match any of the three criteria
movies[(movies.genre == 'Crime') | (movies.genre == 'Drama') | (movies.genre == 'Action')].head(10)

# or equivalently, use the 'isin' method
movies[movies.genre.isin(['Drama', 'Action'])].head(10)

,star_rating,title,content_rating,genre,duration,actors_list
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."
11,8.8,Inception,PG-13,Action,148,"[u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'..."
12,8.8,Star Wars: Episode V - The Empire Strikes Back,PG,Action,124,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
13,8.8,Forrest Gump,PG-13,Drama,142,"[u'Tom Hanks', u'Robin Wright', u'Gary Sinise']"
16,8.7,One Flew Over the Cuckoo's Nest,R,Drama,133,"[u'Jack Nicholson', u'Louise Fletcher', u'Mich..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
19,8.7,Star Wars,PG,Action,121,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
20,8.7,The Matrix,R,Action,136,"[u'Keanu Reeves', u'Laurence Fishburne', u'Car..."

# Read subset of data (columns or rows)

In [68]:
# read a dataset of UFO reports into a DataFrame, and check the columns
movies = pd.read_csv('imdb_1000.csv')
movies.columns

Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
       'actors_list'],
      dtype='object')

In [69]:
# specify which columns to include by name
movies = pd.read_csv('imdb_1000.csv', usecols=['star_rating', 'title'])

# or equivalently, specify columns by position
movies = pd.read_csv('imdb_1000.csv', usecols=[0, 1])
movies.columns

Index(['star_rating', 'title'], dtype='object')

In [70]:
movies.head()

   star_rating                     title
0          9.3  The Shawshank Redemption
1          9.2             The Godfather
2          9.1    The Godfather: Part II
3          9.0           The Dark Knight
4          8.9              Pulp Fiction

Iterate through a Series

In [71]:
for c in movies.title:
    print (c)

The Shawshank Redemption
The Godfather
The Godfather: Part II
The Dark Knight
Pulp Fiction
12 Angry Men
The Good, the Bad and the Ugly
The Lord of the Rings: The Return of the King
Schindler's List
Fight Club
The Lord of the Rings: The Fellowship of the Ring
Inception
Star Wars: Episode V - The Empire Strikes Back
Forrest Gump
The Lord of the Rings: The Two Towers
Interstellar
One Flew Over the Cuckoo's Nest
Seven Samurai
Goodfellas
Star Wars
The Matrix
City of God
It's a Wonderful Life
The Usual Suspects
Se7en
Life Is Beautiful
Once Upon a Time in the West
The Silence of the Lambs
Leon: The Professional
City Lights
Spirited Away
The Intouchables
Casablanca
Whiplash
American History X
Modern Times
Saving Private Ryan
Raiders of the Lost Ark
Rear Window
Psycho
The Green Mile
Sunset Blvd.
The Pianist
The Dark Knight Rises
Gladiator
Terminator 2: Judgment Day
Memento
Taare Zameen Par
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb
The Departed
Cinema Paradiso
Apocalypse Now
The Great Dictator
The Prestige
Back to the Future
The Lion King
The Lives of Others
Alien
Paths of Glory
Django Unchained
3 Idiots
Grave of the Fireflies
The Shining
M
WALL-E
Witness for the Prosecution
Munna Bhai M.B.B.S.
American Beauty
Das Boot
Princess Mononoke
Amelie
North by Northwest
Rang De Basanti
Jodaeiye Nader az Simin
Citizen Kane
Aliens
Vertigo
Oldeuboi
Once Upon a Time in America
Double Indemnity
Star Wars: Episode VI - Return of the Jedi
Toy Story 3
Braveheart
To Kill a Mockingbird
Requiem for a Dream
Lawrence of Arabia
A Clockwork Orange
Bicycle Thieves
The Kid
Swades
Reservoir Dogs
Eternal Sunshine of the Spotless Mind
Taxi Driver
Dilwale Dulhania Le Jayenge
Singin' in the Rain
All About Eve
Yojimbo
The Sting
Rashomon
Amadeus
The Treasure of the Sierra Madre
Monty Python and the Holy Grail
Full Metal Jacket
The Apartment
Ikiru
The Third Man
Snatch.
For a Few Dollars More
Metropolis
Dil Chahta Hai
2001: A Space Odyssey
Some Like It Hot
L.A. Confidential
Batman Begins
Inglourious Basterds
Scarface
Mr. Smith Goes to Washington
Toy Story
Indiana Jones and the Last Crusade
Unforgiven
The Great Escape
Jagten
On the Waterfront
The General
Raging Bull
Downfall
Up
Wild Strawberries
The Gold Rush
Ran
Chinatown
My Neighbor Totoro
Judgment at Nuremberg
Barfi!
The Seventh Seal
Heat
Pan's Labyrinth
The Bridge on the River Kwai
Die Hard
Good Will Hunting
The Wages of Fear
The Secret in Their Eyes
Lagaan: Once Upon a Time in India
The Wolf of Wall Street
It Happened One Night
Blade Runner
Warrior
Howl's Moving Castle
The Elephant Man
Rebecca
Incendies
Lock, Stock and Two Smoking Barrels
V for Vendetta
The Big Lebowski
Cool Hand Luke
Relatos salvajes
Casino
Gone with the Wind
Gone Girl
The Best Years of Our Lives
How to Train Your Dragon
Diabolique
Gran Torino
Rush
Into the Wild
My Sassy Girl
The Deer Hunter
Mary and Max
Hachi: A Dog's Tale
The Maltese Falcon
A Beautiful Mind
Dial M for Murder
Trainspotting
Tae Guk Gi: The Brotherhood of War
Persona
Touch of Evil
Fargo
The Avengers
The 400 Blows
The Princess Bride
Hotel Rwanda
Stalker
The Battle of Algiers
Underground
Fanny and Alexander
Network
The Thing
Butch Cassidy and the Sundance Kid
The Grapes of Wrath
Black Cat, White Cat
Life of Brian
The Sixth Sense
Finding Nemo
Nausicaa of the Valley of the Wind
Kingsman: The Secret Service
Platoon
Guardians of the Galaxy
In the Name of the Father
Kill Bill: Vol. 1
No Country for Old Men
Le Samourai
12 Years a Slave
La leggenda del pianista sull'oceano
8 1/2
Ben-Hur
Amores Perros
Stand by Me
What Ever Happened to Baby Jane?
Annie Hall
The Imitation Game
Laura
Departures
Infernal Affairs
There Will Be Blood
The Grand Budapest Hotel
La Strada
Sin City
Memories of Murder
Donnie Darko
Who's Afraid of Virginia Woolf?
Gandhi
Solaris
Harry Potter and the Deathly Hallows: Part 2
Paris, Texas
The Wizard of Oz
3-Iron
Boyhood
Million Dollar Baby
The Last Picture Show
Strangers on a Train
Cat on a Hot Tin Roof
La Dolce Vita
Chungking Express
The Night of the Hunter
La Haine
Yip Man
High Noon
Notorious
Before Sunrise
Elite Squad: The Enemy Within
The Bourne Ultimatum
Castle in the Sky
The Celebration
Spring, Summer, Fall, Winter... and Spring
Shutter Island
Barry Lyndon
Stalag 17
Three Colors: Red
X-Men: Days of Future Past
Sleuth
In the Mood for Love
The Man Who Shot Liberty Valance
Arsenic and Old Lace
The Big Sleep
Roman Holiday
The Philadelphia Story
Akira
Anatomy of a Murder
The Cabinet of Dr. Caligari
The Help
The Sea Inside
Elite Squad
The Hustler
Rio Bravo
Twelve Monkeys
Harvey
A Christmas Story
Jaws
The Raid 2
Rocky
Wings of Desire
Pirates of the Caribbean: The Curse of the Black Pearl
The Killing
Papillon
The King's Speech
Groundhog Day
A Fistful of Dollars
Monsters, Inc.
Dog Day Afternoon
The Perks of Being a Wallflower
Young Frankenstein
The Terminator
Harold and Maude
Before Sunset
A Streetcar Named Desire
Bringing Up Baby
The Diving Bell and the Butterfly
His Girl Friday
Sling Blade
All Quiet on the Western Front
Prisoners
The Return
The Manchurian Candidate
Duck Soup
Beauty and the Beast
The Truman Show
The Wild Bunch
Rope
The Graduate
Jurassic Park
Dogville
Furious 7
Patton
The Nightmare Before Christmas
Being There
Persepolis
This Is Spinal Tap
East of Eden
Pink Floyd The Wall
Blood Diamond
Big Fish
Slumdog Millionaire
Star Trek
The Straight Story
Crimes and Misdemeanors
Charade
JFK
Dawn of the Dead
Magnolia
Manhattan
Central Station
Brazil
The Exorcist
Her
Dancer in the Dark
Rain Man
Talk to Her
The Adventures of Robin Hood
Aguirre, the Wrath of God
In the Heat of the Night
Nosferatu
Black Swan
Ratatouille
The Searchers
Short Term 12
Doctor Zhivago
Life of Pi
All the President's Men
Battleship Potemkin
Dances with Wolves
Catch Me If You Can
Cinderella Man
Dead Poets Society
Ghost in the Shell
Head-On
No Man's Land
Dallas Buyers Club
Days of Heaven
The Sound of Music
District 9
Shadow of a Doubt
Frankenstein
Shaun of the Dead
Night of the Living Dead
Kill Bill: Vol. 2
Secrets & Lies
The Artist
Aladdin
The Lady Vanishes
The Hobbit: The Desolation of Smaug
Let the Right One In
Fiddler on the Roof
The Hobbit: An Unexpected Journey
Three Colors: Blue
Rosemary's Baby
Mystic River
Serenity
Amarcord
Planet of the Apes
True Romance
Hannah and Her Sisters
Moon
Before Midnight
My Name Is Khan
Scent of a Woman
Mulholland Dr.
King Kong
The Fault in Our Stars
The Incredibles
Edward Scissorhands
Casino Royale
How to Train Your Dragon 2
In Bruges
The Untouchables
Breathless
Spartacus
The Iron Giant
Midnight Cowboy
The Blues Brothers
Freaks
Letters from Iwo Jima
Edge of Tomorrow
Glory
The African Queen
Birdman: Or (The Unexpected Virtue of Ignorance)
Big Hero 6
Almost Famous
The Notebook
The Conversation
The Breakfast Club
The Pursuit of Happyness
The Killer
Once
Ying xiong
The Remains of the Day
The Bride of Frankenstein
The Wrestler
Nightcrawler
Gravity
Hard Boiled
Bonnie and Clyde
The Bourne Identity
Key Largo
Nine Queens
Toy Story 2
The Killing Fields
All About My Mother
Cowboy Bebop: The Movie
Ed Wood
Stagecoach
The Man Who Would Be King
The Outlaw Josey Wales
Children of Men
The Insider
The Right Stuff
Badlands
A Prophet
4 Months, 3 Weeks and 2 Days
Le passe
The Fall
Breaking the Waves
Mr. Nobody
Crash
Avatar
Iron Man
Do the Right Thing
Carlito's Way
Crouching Tiger, Hidden Dragon
Lilya 4-Ever
The Chorus
The Boondock Saints
Miller's Crossing
Walk the Line
Shrek
My Fair Lady
The Ten Commandments
The Fighter
Captain Phillips
Cabaret
Halloween
My Left Foot
Miracle on 34th Street
The Man from Nowhere
Toki o kakeru shojo
Little Miss Sunshine
Taken
Blue Is the Warmest Color
Boogie Nights
Hot Fuzz
Ferris Bueller's Day Off
The World's Fastest Indian
Kiki's Delivery Service
Down by Law
Glengarry Glen Ross
Clerks
Adam's Apples
The Girl with the Dragon Tattoo
The 39 Steps
E.T. the Extra-Terrestrial
Tombstone
Predator
Tangled
Guess Who's Coming to Dinner
Ordinary People
The Best Offer
Silver Linings Playbook
Hamlet
Amour
I Saw the Devil
The Motorcycle Diaries
Office Space
Evil
The Girl with the Dragon Tattoo
Withnail & I
The Day the Earth Stood Still
Black Book
Evil Dead II
Kaze tachinu
Star Trek Into Darkness
The Triplets of Belleville
Open Your Eyes
The Magnificent Seven
Drive
Mississippi Burning
The Lego Movie
The Day of the Jackal
Misery
Willy Wonka & the Chocolate Factory
Fantasia
Gattaca
American Gangster
Porco Rosso
The French Connection
The Boy in the Striped Pajamas
Empire of the Sun
About Time
Blue Velvet
In America
The Curious Case of Benjamin Button
The Last of the Mohicans
Moonrise Kingdom
Rebel Without a Cause
Fantastic Mr. Fox
Invasion of the Body Snatchers
October Sky
Dirty Harry
Ghostbusters
Captain America: The Winter Soldier
Wreck-It Ralph
The Hangover
Back to the Future Part II
Belle de Jour
O Brother, Where Art Thou?
Repulsion
Airplane!
Pride & Prejudice
Zulu
Night on Earth
From Here to Eternity
Apocalypto
Atonement
The Dirty Dozen
X-Men: First Class
Run Lola Run
The Longest Day
Zelig
The Last Emperor
The Goonies
The White Ribbon
The Fugitive
The Color Purple
South Park: Bigger Longer & Uncut
(500) Days of Summer
Lost in Translation
Argo
Blazing Saddles
Breakfast at Tiffany's
Finding Neverland
The Experiment
Lucky Number Slevin
The Theory of Everything
Harry Potter and the Prisoner of Azkaban
Kung Fu Hustle
Being John Malkovich
The Social Network
3:10 to Yuma
The Name of the Rose
Mary Poppins
The Game
Changeling
Donnie Brasco
Serpico
What's Eating Gilbert Grape
Goldfinger
Nebraska
The Sandlot
Boyz n the Hood
The Bourne Supremacy
Skyfall
Ray
300
A Bronx Tale
The Birds
Battle Royale
Control
Kramer vs. Kramer
Deliverance
Ocean's Eleven
As Good as It Gets
Awakenings
The King of Comedy
Man on Fire
Sabrina
Dark City
Good Bye Lenin!
Remember the Titans
Star Trek II: The Wrath of Khan
Road to Perdition
Rushmore
The Machinist
Flipped
The Count of Monte Cristo
Detachment
Love Me If You Dare
Dead Man
The Purple Rose of Cairo
21 Grams
50/50
Kick-Ass
Delicatessen
Barton Fink
The Last King of Scotland
Adaptation.
A Very Long Engagement
Mysterious Skin
Stardust
Black Hawk Down
Paprika
Fear and Loathing in Las Vegas
Frost/Nixon
Enter the Dragon
Short Cuts
A Hard Day's Night
The Last Samurai
The Station Agent
Zombieland
Sympathy for Mr. Vengeance
Despicable Me
Shane
Forbidden Planet
Titanic
Gone Baby Gone
The Dinner Game
Dawn of the Planet of the Apes
25th Hour
Ponyo
Shine
The Blind Side
Brokeback Mountain
Cast Away
Malcolm X
Show Me Love
Boy A
The Warriors
Close Encounters of the Third Kind
Match Point
Training Day
The Butterfly Effect
The City of Lost Children
Billy Elliot
Love Actually
The Producers
Harry Potter and the Deathly Hallows: Part 1
The Visitor
Philadelphia
Sense and Sensibility
Three Colors: White
La grande bellezza
Primal Fear
Where Eagles Dare
Dazed and Confused
Blood Simple.
This Is England
Fearless
Dangerous Liaisons
Saw
Snow White and the Seven Dwarfs
Coraline
The Hunger Games: Catching Fire
Sophie's Choice
La Vie en Rose
Star Wars: Episode III - Revenge of the Sith
True Grit
After Hours
Frozen
Lolita
Eastern Promises
Midnight in Paris
The Muppet Christmas Carol
Who Framed Roger Rabbit
Sympathy for Lady Vengeance
Grindhouse
In a Better World
Blow-Up
The Secret World of Arrietty
Kiss Kiss Bang Bang
Lost Highway
Zodiac
Les Miserables
Moulin Rouge!
Whale Rider
End of Watch
Philomena
Fury
The Big Blue
First Blood
Minority Report
Spellbound
The Wicker Man
Seven Pounds
Midnight Express
Kelly's Heroes
MASH
The Player
Traffic
Y Tu Mama Tambien
Stranger Than Fiction
Inside Man
127 Hours
The Fifth Element
Milk
United 93
Jin ling shi san chai
Dracula
High Plains Drifter
I Am Sam
Fried Green Tomatoes
Watchmen
28 Days Later...
The Illusionist
Superbad
The Godfather: Part III
The Royal Tenenbaums
The Jungle Book
Thank You for Smoking
Man Bites Dog
A Few Good Men
The Legend of Drunken Master
The Kite Runner
When Harry Met Sally...
Munich
House of Sand and Fog
Lethal Weapon
Animal House
Lord of War
Blow
Sherlock Holmes
Harry Potter and the Goblet of Fire
La piel que habito
The Crow
West Side Story
The Thin Red Line
American Psycho
The Blind Swordsman: Zatoichi
The Last Temptation of Christ
The Naked Gun: From the Files of Police Squad!
The Others
The Party
Army of Darkness
The Hurt Locker
The Raid: Redemption
Volver
Following
Kung Fu Panda
Mad Max 2: The Road Warrior
Jusan-nin no shikaku
The Man Who Wasn't There
The Counterfeiters
The Hunt for Red October
Lone Survivor
A Fish Called Wanda
The Impossible
Garden State
Escape from Alcatraz
Apollo 13
Lust, Caution
Selma
Funny Games
The Abyss
Robin Hood
Enemy at the Gates
Falling Down
Little Children
Hunger
Indiana Jones and the Temple of Doom
Ip Man 2
The Little Mermaid
It's a Mad, Mad, Mad, Mad World
The Reader
The Omen
A Royal Affair
Braindead
Secondhand Lions
Disconnect
A Single Man
Hoosiers
Moneyball
The Book Thief
Die Hard: With a Vengeance
Interview with the Vampire: The Vampire Chronicles
Midnight Run
An American Werewolf in London
The Great Debaters
Tucker and Dale vs. Evil
Dead Man Walking
The Piano
The Town
Rise of the Planet of the Apes
Boys Don't Cry
Ice Age
Of Mice and Men
Sideways
High Fidelity
The Meaning of Life
Hugo
Leaving Las Vegas
The Evil Dead
Collateral
Planes, Trains & Automobiles
Hodejegerne
Field of Dreams
Batman
Tell No One
Ghost Dog: The Way of the Samurai
Chaplin
Keith
Juno
The Assassination of Jesse James by the Coward Robert Ford
The Fisher King
House of Flying Daggers
The Hours
The Damned United
Star Trek: First Contact
The Natural
The Hobbit: The Battle of the Five Armies
Equilibrium
August Rush
Saving Mr. Banks
The Hurricane
Jacob's Ladder
The Curse of the Were-Rabbit
Christmas Vacation
Good Night, and Good Luck.
Straw Dogs
42
Rudy
Sleepers
The Wind That Shakes the Barley
Gangs of New York
Elizabeth
Green Street Hooligans
Reign Over Me
RoboCop
The Life of David Gale
Life as a House
Despicable Me 2
Jackie Brown
Menace II Society
The Class
Bullets Over Broadway
American Splendor
Perfume: The Story of a Murderer
Cloud Atlas
Marathon Man
Pinocchio
The Painted Veil
A Simple Plan
The Conjuring
The Man Who Knew Too Much
Quiz Show
American Graffiti
The Bridges of Madison County
Gallipoli
L'illusionniste
Miracle
Maria Full of Grace
Scott Pilgrim vs. the World
Pleasantville
Sherlock Holmes: A Game of Shadows
Doubt
The Fly
The Orphanage
Malena
Three Days of the Condor
[Rec]
A Perfect World
To Catch a Thief
Best in Show
Everything Is Illuminated
A Nightmare on Elm Street
The Ice Storm
X2
We Need to Talk About Kevin
Felon
Still Alice
Rust and Bone
Freedom Writers
Legends of the Fall
Buffalo '66
The Constant Gardener
My Cousin Vinny
The Texas Chain Saw Massacre
Mulan
A History of Violence
Open Range
Total Recall
Pi
The Devil's Backbone
The Aviator
Devil's Advocate
The Adventures of Priscilla, Queen of the Desert
Harry Potter and the Half-Blood Prince
Fruitvale Station
In the Bedroom
Source Code
Biutiful
From Russia with Love
Calvary
The Mission
In the Loop
The Three Burials of Melquiades Estrada
Babel
Frenzy
Heavenly Creatures
Sweeney Todd: The Demon Barber of Fleet Street
Dracula
Looper
The Proposition
Bullitt
Harry Potter and the Sorcerer's Stone
2046
Transamerica
Smoke
Suspiria
The Judge
Bad Education
Up in the Air
Begin Again
Running Scared
Ghost World
Witness
Trading Places
Mud
Across the Universe
Les Miserables
Notes on a Scandal
Inside Llewyn Davis
Brick
Clerks II
Say Anything...
Man on the Moon
Mean Streets
Harry Potter and the Order of the Phoenix
Beetlejuice
Crazy, Stupid, Love.
Excalibur
True Grit
Labyrinth
Alice in Wonderland
Predestination
Much Ado About Nothing
A Bridge Too Far
Raising Arizona
The Bucket List
Terms of Endearment
Take Shelter
Far from Heaven
Eraserhead
Frances Ha
Home Alone
Bound
Sleepy Hollow
Pirate Radio
The NeverEnding Story
X-Men
Zero Dark Thirty
Manhattan Murder Mystery
National Lampoon's Vacation
My Sister's Keeper
Deconstructing Harry
The Way Way Back
Capote
Driving Miss Daisy
La Femme Nikita
Lincoln
Limitless
The Simpsons Movie
The Rock
The English Patient
Law Abiding Citizen
Wonder Boys
Death at a Funeral
Blue Valentine
The Cider House Rules
Tootsie
Back to the Future Part III
Master and Commander: The Far Side of the World
Poltergeist
Wall Street

Iterate through dataframe

In [72]:
for index,rows in movies.iterrows():
    print (index,rows.star_rating,rows.title)

0 9.3 The Shawshank Redemption
1 9.2 The Godfather
2 9.1 The Godfather: Part II
3 9.0 The Dark Knight
4 8.9 Pulp Fiction
5 8.9 12 Angry Men
6 8.9 The Good, the Bad and the Ugly
7 8.9 The Lord of the Rings: The Return of the King
8 8.9 Schindler's List
9 8.9 Fight Club
10 8.8 The Lord of the Rings: The Fellowship of the Ring
11 8.8 Inception
12 8.8 Star Wars: Episode V - The Empire Strikes Back
13 8.8 Forrest Gump
14 8.8 The Lord of the Rings: The Two Towers
15 8.7 Interstellar
16 8.7 One Flew Over the Cuckoo's Nest
17 8.7 Seven Samurai
18 8.7 Goodfellas
19 8.7 Star Wars
20 8.7 The Matrix
21 8.7 City of God
22 8.7 It's a Wonderful Life
23 8.7 The Usual Suspects
24 8.7 Se7en
25 8.6 Life Is Beautiful
26 8.6 Once Upon a Time in the West
27 8.6 The Silence of the Lambs
28 8.6 Leon: The Professional
29 8.6 City Lights
30 8.6 Spirited Away
31 8.6 The Intouchables
32 8.6 Casablanca
33 8.6 Whiplash
34 8.6 American History X
35 8.6 Modern Times
36 8.6 Saving Private Ryan
37 8.6 Raiders of the Lost Ark
38 8.6 Rear Window
39 8.6 Psycho
40 8.5 The Green Mile
41 8.5 Sunset Blvd.
42 8.5 The Pianist
43 8.5 The Dark Knight Rises
44 8.5 Gladiator
45 8.5 Terminator 2: Judgment Day
46 8.5 Memento
47 8.5 Taare Zameen Par
48 8.5 Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb
49 8.5 The Departed
50 8.5 Cinema Paradiso
51 8.5 Apocalypse Now
52 8.5 The Great Dictator
53 8.5 The Prestige
54 8.5 Back to the Future
55 8.5 The Lion King
56 8.5 The Lives of Others
57 8.5 Alien
58 8.5 Paths of Glory
59 8.5 Django Unchained
60 8.5 3 Idiots
61 8.5 Grave of the Fireflies
62 8.5 The Shining
63 8.4 M
64 8.4 WALL-E
65 8.4 Witness for the Prosecution
66 8.4 Munna Bhai M.B.B.S.
67 8.4 American Beauty
68 8.4 Das Boot
69 8.4 Princess Mononoke
70 8.4 Amelie
71 8.4 North by Northwest
72 8.4 Rang De Basanti
73 8.4 Jodaeiye Nader az Simin
74 8.4 Citizen Kane
75 8.4 Aliens
76 8.4 Vertigo
77 8.4 Oldeuboi
78 8.4 Once Upon a Time in America
79 8.4 Double Indemnity
80 8.4 Star Wars: Episode VI - Return of the Jedi
81 8.4 Toy Story 3
82 8.4 Braveheart
83 8.4 To Kill a Mockingbird
84 8.4 Requiem for a Dream
85 8.4 Lawrence of Arabia
86 8.4 A Clockwork Orange
87 8.4 Bicycle Thieves
88 8.4 The Kid
89 8.4 Swades
90 8.4 Reservoir Dogs
91 8.4 Eternal Sunshine of the Spotless Mind
92 8.4 Taxi Driver
93 8.4 Dilwale Dulhania Le Jayenge
94 8.4 Singin' in the Rain
95 8.4 All About Eve
96 8.4 Yojimbo
97 8.4 The Sting
98 8.4 Rashomon
99 8.4 Amadeus
100 8.3 The Treasure of the Sierra Madre
101 8.3 Monty Python and the Holy Grail
102 8.3 Full Metal Jacket
103 8.3 The Apartment
104 8.3 Ikiru
105 8.3 The Third Man
106 8.3 Snatch.
107 8.3 For a Few Dollars More
108 8.3 Metropolis
109 8.3 Dil Chahta Hai
110 8.3 2001: A Space Odyssey
111 8.3 Some Like It Hot
112 8.3 L.A. Confidential
113 8.3 Batman Begins
114 8.3 Inglourious Basterds
115 8.3 Scarface
116 8.3 Mr. Smith Goes to Washington
117 8.3 Toy Story
118 8.3 Indiana Jones and the Last Crusade
119 8.3 Unforgiven
120 8.3 The Great Escape
121 8.3 Jagten
122 8.3 On the Waterfront
123 8.3 The General
124 8.3 Raging Bull
125 8.3 Downfall
126 8.3 Up
127 8.3 Wild Strawberries
128 8.3 The Gold Rush
129 8.3 Ran
130 8.3 Chinatown
131 8.3 My Neighbor Totoro
132 8.3 Judgment at Nuremberg
133 8.3 Barfi!
134 8.3 The Seventh Seal
135 8.3 Heat
136 8.3 Pan's Labyrinth
137 8.3 The Bridge on the River Kwai
138 8.3 Die Hard
139 8.3 Good Will Hunting
140 8.3 The Wages of Fear
141 8.3 The Secret in Their Eyes
142 8.3 Lagaan: Once Upon a Time in India
143 8.2 The Wolf of Wall Street
144 8.2 It Happened One Night
145 8.2 Blade Runner
146 8.2 Warrior
147 8.2 Howl's Moving Castle
148 8.2 The Elephant Man
149 8.2 Rebecca
150 8.2 Incendies
151 8.2 Lock, Stock and Two Smoking Barrels
152 8.2 V for Vendetta
153 8.2 The Big Lebowski
154 8.2 Cool Hand Luke
155 8.2 Relatos salvajes
156 8.2 Casino
157 8.2 Gone with the Wind
158 8.2 Gone Girl
159 8.2 The Best Years of Our Lives
160 8.2 How to Train Your Dragon
161 8.2 Diabolique
162 8.2 Gran Torino
163 8.2 Rush
164 8.2 Into the Wild
165 8.2 My Sassy Girl
166 8.2 The Deer Hunter
167 8.2 Mary and Max
168 8.2 Hachi: A Dog's Tale
169 8.2 The Maltese Falcon
170 8.2 A Beautiful Mind
171 8.2 Dial M for Murder
172 8.2 Trainspotting
173 8.2 Tae Guk Gi: The Brotherhood of War
174 8.2 Persona
175 8.2 Touch of Evil
176 8.2 Fargo
177 8.2 The Avengers
178 8.2 The 400 Blows
179 8.2 The Princess Bride
180 8.2 Hotel Rwanda
181 8.2 Stalker
182 8.2 The Battle of Algiers
183 8.2 Underground
184 8.2 Fanny and Alexander
185 8.2 Network
186 8.2 The Thing
187 8.2 Butch Cassidy and the Sundance Kid
188 8.2 The Grapes of Wrath
189 8.2 Black Cat, White Cat
190 8.2 Life of Brian
191 8.2 The Sixth Sense
192 8.2 Finding Nemo
193 8.2 Nausicaa of the Valley of the Wind
194 8.1 Kingsman: The Secret Service
195 8.1 Platoon
196 8.1 Guardians of the Galaxy
197 8.1 In the Name of the Father
198 8.1 Kill Bill: Vol. 1
199 8.1 No Country for Old Men
200 8.1 Le Samourai
201 8.1 12 Years a Slave
202 8.1 La leggenda del pianista sull'oceano
203 8.1 8 1/2
204 8.1 Ben-Hur
205 8.1 Amores Perros
206 8.1 Stand by Me
207 8.1 What Ever Happened to Baby Jane?
208 8.1 Annie Hall
209 8.1 The Imitation Game
210 8.1 Laura
211 8.1 Departures
212 8.1 Infernal Affairs
213 8.1 There Will Be Blood
214 8.1 The Grand Budapest Hotel
215 8.1 La Strada
216 8.1 Sin City
217 8.1 Memories of Murder
218 8.1 Donnie Darko
219 8.1 Who's Afraid of Virginia Woolf?
220 8.1 Gandhi
221 8.1 Solaris
222 8.1 Harry Potter and the Deathly Hallows: Part 2
223 8.1 Paris, Texas
224 8.1 The Wizard of Oz
225 8.1 3-Iron
226 8.1 Boyhood
227 8.1 Million Dollar Baby
228 8.1 The Last Picture Show
229 8.1 Strangers on a Train
230 8.1 Cat on a Hot Tin Roof
231 8.1 La Dolce Vita
232 8.1 Chungking Express
233 8.1 The Night of the Hunter
234 8.1 La Haine
235 8.1 Yip Man
236 8.1 High Noon
237 8.1 Notorious
238 8.1 Before Sunrise
239 8.1 Elite Squad: The Enemy Within
240 8.1 The Bourne Ultimatum
241 8.1 Castle in the Sky
242 8.1 The Celebration
243 8.1 Spring, Summer, Fall, Winter... and Spring
244 8.1 Shutter Island
245 8.1 Barry Lyndon
246 8.1 Stalag 17
247 8.1 Three Colors: Red
248 8.1 X-Men: Days of Future Past
249 8.1 Sleuth
250 8.1 In the Mood for Love
251 8.1 The Man Who Shot Liberty Valance
252 8.1 Arsenic and Old Lace
253 8.1 The Big Sleep
254 8.1 Roman Holiday
255 8.1 The Philadelphia Story
256 8.1 Akira
257 8.1 Anatomy of a Murder
258 8.1 The Cabinet of Dr. Caligari
259 8.1 The Help
260 8.1 The Sea Inside
261 8.1 Elite Squad
262 8.1 The Hustler
263 8.1 Rio Bravo
264 8.1 Twelve Monkeys
265 8.1 Harvey
266 8.1 A Christmas Story
267 8.1 Jaws
268 8.1 The Raid 2
269 8.1 Rocky
270 8.1 Wings of Desire
271 8.1 Pirates of the Caribbean: The Curse of the Black Pearl
272 8.1 The Killing
273 8.1 Papillon
274 8.1 The King's Speech
275 8.1 Groundhog Day
276 8.1 A Fistful of Dollars
277 8.1 Monsters, Inc.
278 8.1 Dog Day Afternoon
279 8.1 The Perks of Being a Wallflower
280 8.1 Young Frankenstein
281 8.1 The Terminator
282 8.1 Harold and Maude
283 8.1 Before Sunset
284 8.1 A Streetcar Named Desire
285 8.1 Bringing Up Baby
286 8.1 The Diving Bell and the Butterfly
287 8.1 His Girl Friday
288 8.1 Sling Blade
289 8.1 All Quiet on the Western Front
290 8.1 Prisoners
291 8.1 The Return
292 8.1 The Manchurian Candidate
293 8.1 Duck Soup
294 8.1 Beauty and the Beast
295 8.1 The Truman Show
296 8.1 The Wild Bunch
297 8.0 Rope
298 8.0 The Graduate
299 8.0 Jurassic Park
300 8.0 Dogville
301 8.0 Furious 7
302 8.0 Patton
303 8.0 The Nightmare Before Christmas
304 8.0 Being There
305 8.0 Persepolis
306 8.0 This Is Spinal Tap
307 8.0 East of Eden
308 8.0 Pink Floyd The Wall
309 8.0 Blood Diamond
310 8.0 Big Fish
311 8.0 Slumdog Millionaire
312 8.0 Star Trek
313 8.0 The Straight Story
314 8.0 Crimes and Misdemeanors
315 8.0 Charade
316 8.0 JFK
317 8.0 Dawn of the Dead
318 8.0 Magnolia
319 8.0 Manhattan
320 8.0 Central Station
321 8.0 Brazil
322 8.0 The Exorcist
323 8.0 Her
324 8.0 Dancer in the Dark
325 8.0 Rain Man
326 8.0 Talk to Her
327 8.0 The Adventures of Robin Hood
328 8.0 Aguirre, the Wrath of God
329 8.0 In the Heat of the Night
330 8.0 Nosferatu
331 8.0 Black Swan
332 8.0 Ratatouille
333 8.0 The Searchers
334 8.0 Short Term 12
335 8.0 Doctor Zhivago
336 8.0 Life of Pi
337 8.0 All the President's Men
338 8.0 Battleship Potemkin
339 8.0 Dances with Wolves
340 8.0 Catch Me If You Can
341 8.0 Cinderella Man
342 8.0 Dead Poets Society
343 8.0 Ghost in the Shell
344 8.0 Head-On
345 8.0 No Man's Land
346 8.0 Dallas Buyers Club
347 8.0 Days of Heaven
348 8.0 The Sound of Music
349 8.0 District 9
350 8.0 Shadow of a Doubt
351 8.0 Frankenstein
352 8.0 Shaun of the Dead
353 8.0 Night of the Living Dead
354 8.0 Kill Bill: Vol. 2
355 8.0 Secrets & Lies
356 8.0 The Artist
357 8.0 Aladdin
358 8.0 The Lady Vanishes
359 8.0 The Hobbit: The Desolation of Smaug
360 8.0 Let the Right One In
361 8.0 Fiddler on the Roof
362 8.0 The Hobbit: An Unexpected Journey
363 8.0 Three Colors: Blue
364 8.0 Rosemary's Baby
365 8.0 Mystic River
366 8.0 Serenity
367 8.0 Amarcord
368 8.0 Planet of the Apes
369 8.0 True Romance
370 8.0 Hannah and Her Sisters
371 8.0 Moon
372 8.0 Before Midnight
373 8.0 My Name Is Khan
374 8.0 Scent of a Woman
375 8.0 Mulholland Dr.
376 8.0 King Kong
377 8.0 The Fault in Our Stars
378 8.0 The Incredibles
379 8.0 Edward Scissorhands
380 8.0 Casino Royale
381 8.0 How to Train Your Dragon 2
382 8.0 In Bruges
383 8.0 The Untouchables
384 8.0 Breathless
385 8.0 Spartacus
386 8.0 The Iron Giant
387 8.0 Midnight Cowboy
388 8.0 The Blues Brothers
389 8.0 Freaks
390 8.0 Letters from Iwo Jima
391 8.0 Edge of Tomorrow
392 8.0 Glory
393 8.0 The African Queen
394 7.9 Birdman: Or (The Unexpected Virtue of Ignorance)
395 7.9 Big Hero 6
396 7.9 Almost Famous
397 7.9 The Notebook
398 7.9 The Conversation
399 7.9 The Breakfast Club
400 7.9 The Pursuit of Happyness
401 7.9 The Killer
402 7.9 Once
403 7.9 Ying xiong
404 7.9 The Remains of the Day
405 7.9 The Bride of Frankenstein
406 7.9 The Wrestler
407 7.9 Nightcrawler
408 7.9 Gravity
409 7.9 Hard Boiled
410 7.9 Bonnie and Clyde
411 7.9 The Bourne Identity
412 7.9 Key Largo

413 7.9 Nine Queens
414 7.9 Toy Story 2
415 7.9 The Killing Fields
416 7.9 All About My Mother
417 7.9 Cowboy Bebop: The Movie
418 7.9 Ed Wood
419 7.9 Stagecoach
420 7.9 The Man Who Would Be King
421 7.9 The Outlaw Josey Wales
422 7.9 Children of Men
423 7.9 The Insider
424 7.9 The Right Stuff
425 7.9 Badlands
426 7.9 A Prophet
427 7.9 4 Months, 3 Weeks and 2 Days
428 7.9 Le passe
429 7.9 The Fall
430 7.9 Breaking the Waves
431 7.9 Mr. Nobody
432 7.9 Crash
433 7.9 Avatar
434 7.9 Iron Man
435 7.9 Do the Right Thing
436 7.9 Carlito's Way
437 7.9 Crouching Tiger, Hidden Dragon
438 7.9 Lilya 4-Ever
439 7.9 The Chorus
440 7.9 The Boondock Saints
441 7.9 Miller's Crossing
442 7.9 Walk the Line
443 7.9 Shrek
444 7.9 My Fair Lady
445 7.9 The Ten Commandments
446 7.9 The Fighter
447 7.9 Captain Phillips
448 7.9 Cabaret
449 7.9 Halloween
450 7.9 My Left Foot
451 7.9 Miracle on 34th Street
452 7.9 The Man from Nowhere
453 7.9 Toki o kakeru shojo
454 7.9 Little Miss Sunshine
455 7.9 Taken
456 7.9 Blue Is the Warmest Color
457 7.9 Boogie Nights
458 7.9 Hot Fuzz
459 7.9 Ferris Bueller's Day Off
460 7.9 The World's Fastest Indian
461 7.9 Kiki's Delivery Service
462 7.9 Down by Law
463 7.9 Glengarry Glen Ross
464 7.9 Clerks
465 7.9 Adam's Apples
466 7.9 The Girl with the Dragon Tattoo
467 7.9 The 39 Steps
468 7.9 E.T. the Extra-Terrestrial
469 7.8 Tombstone
470 7.8 Predator
471 7.8 Tangled
472 7.8 Guess Who's Coming to Dinner
473 7.8 Ordinary People
474 7.8 The Best Offer
475 7.8 Silver Linings Playbook
476 7.8 Hamlet
477 7.8 Amour
478 7.8 I Saw the Devil
479 7.8 The Motorcycle Diaries
480 7.8 Office Space
481 7.8 Evil
482 7.8 The Girl with the Dragon Tattoo
483 7.8 Withnail & I
484 7.8 The Day the Earth Stood Still
485 7.8 Black Book
486 7.8 Evil Dead II
487 7.8 Kaze tachinu
488 7.8 Star Trek Into Darkness
489 7.8 The Triplets of Belleville
490 7.8 Open Your Eyes
491 7.8 The Magnificent Seven
492 7.8 Drive
493 7.8 Mississippi Burning
494 7.8 The Lego Movie
495 7.8 The Day of the Jackal
496 7.8 Misery
497 7.8 Willy Wonka & the Chocolate Factory
498 7.8 Fantasia
499 7.8 Gattaca
500 7.8 American Gangster
501 7.8 Porco Rosso
502 7.8 The French Connection
503 7.8 The Boy in the Striped Pajamas
504 7.8 Empire of the Sun
505 7.8 About Time
506 7.8 Blue Velvet
507 7.8 In America
508 7.8 The Curious Case of Benjamin Button
509 7.8 The Last of the Mohicans
510 7.8 Moonrise Kingdom
511 7.8 Rebel Without a Cause
512 7.8 Fantastic Mr. Fox
513 7.8 Invasion of the Body Snatchers
514 7.8 October Sky
515 7.8 Dirty Harry
516 7.8 Ghostbusters
517 7.8 Captain America: The Winter Soldier
518 7.8 Wreck-It Ralph
519 7.8 The Hangover
520 7.8 Back to the Future Part II
521 7.8 Belle de Jour
522 7.8 O Brother, Where Art Thou?
523 7.8 Repulsion
524 7.8 Airplane!
525 7.8 Pride & Prejudice
526 7.8 Zulu
527 7.8 Night on Earth
528 7.8 From Here to Eternity
529 7.8 Apocalypto
530 7.8 Atonement
531 7.8 The Dirty Dozen
532 7.8 X-Men: First Class
533 7.8 Run Lola Run
534 7.8 The Longest Day
535 7.8 Zelig
536 7.8 The Last Emperor
537 7.8 The Goonies
538 7.8 The White Ribbon
539 7.8 The Fugitive
540 7.8 The Color Purple
541 7.8 South Park: Bigger Longer & Uncut
542 7.8 (500) Days of Summer
543 7.8 Lost in Translation
544 7.8 Argo
545 7.8 Blazing Saddles
546 7.8 Breakfast at Tiffany's
547 7.8 Finding Neverland
548 7.8 The Experiment
549 7.8 Lucky Number Slevin
550 7.8 The Theory of Everything
551 7.8 Harry Potter and the Prisoner of Azkaban
552 7.8 Kung Fu Hustle
553 7.8 Being John Malkovich
554 7.8 The Social Network
555 7.8 3:10 to Yuma
556 7.8 The Name of the Rose
557 7.8 Mary Poppins
558 7.8 The Game
559 7.8 Changeling
560 7.8 Donnie Brasco
561 7.8 Serpico
562 7.8 What's Eating Gilbert Grape
563 7.8 Goldfinger
564 7.8 Nebraska
565 7.8 The Sandlot
566 7.8 Boyz n the Hood
567 7.8 The Bourne Supremacy
568 7.8 Skyfall
569 7.8 Ray
570 7.8 300
571 7.8 A Bronx Tale
572 7.8 The Birds
573 7.8 Battle Royale
574 7.8 Control
575 7.8 Kramer vs. Kramer
576 7.8 Deliverance
577 7.8 Ocean's Eleven
578 7.8 As Good as It Gets
579 7.8 Awakenings
580 7.8 The King of Comedy
581 7.8 Man on Fire
582 7.8 Sabrina
583 7.8 Dark City
584 7.8 Good Bye Lenin!
585 7.7 Remember the Titans
586 7.7 Star Trek II: The Wrath of Khan
587 7.7 Road to Perdition
588 7.7 Rushmore
589 7.7 The Machinist
590 7.7 Flipped
591 7.7 The Count of Monte Cristo
592 7.7 Detachment
593 7.7 Love Me If You Dare
594 7.7 Dead Man
595 7.7 The Purple Rose of Cairo
596 7.7 21 Grams
597 7.7 50/50
598 7.7 Kick-Ass
599 7.7 Delicatessen
600 7.7 Barton Fink
601 7.7 The Last King of Scotland
602 7.7 Adaptation.
603 7.7 A Very Long Engagement
604 7.7 Mysterious Skin
605 7.7 Stardust
606 7.7 Black Hawk Down
607 7.7 Paprika
608 7.7 Fear and Loathing in Las Vegas
609 7.7 Frost/Nixon
610 7.7 Enter the Dragon
611 7.7 Short Cuts
612 7.7 A Hard Day's Night
613 7.7 The Last Samurai
614 7.7 The Station Agent
615 7.7 Zombieland
616 7.7 Sympathy for Mr. Vengeance
617 7.7 Despicable Me
618 7.7 Shane
619 7.7 Forbidden Planet
620 7.7 Titanic
621 7.7 Gone Baby Gone
622 7.7 The Dinner Game
623 7.7 Dawn of the Planet of the Apes
624 7.7 25th Hour
625 7.7 Ponyo
626 7.7 Shine
627 7.7 The Blind Side
628 7.7 Brokeback Mountain
629 7.7 Cast Away
630 7.7 Malcolm X
631 7.7 Show Me Love
632 7.7 Boy A
633 7.7 The Warriors
634 7.7 Close Encounters of the Third Kind
635 7.7 Match Point
636 7.7 Training Day
637 7.7 The Butterfly Effect
638 7.7 The City of Lost Children
639 7.7 Billy Elliot
640 7.7 Love Actually
641 7.7 The Producers
642 7.7 Harry Potter and the Deathly Hallows: Part 1
643 7.7 The Visitor
644 7.7 Philadelphia
645 7.7 Sense and Sensibility
646 7.7 Three Colors: White
647 7.7 La grande bellezza
648 7.7 Primal Fear
649 7.7 Where Eagles Dare
650 7.7 Dazed and Confused
651 7.7 Blood Simple.
652 7.7 This Is England
653 7.7 Fearless
654 7.7 Dangerous Liaisons
655 7.7 Saw
656 7.7 Snow White and the Seven Dwarfs
657 7.7 Coraline
658 7.7 The Hunger Games: Catching Fire
659 7.7 Sophie's Choice
660 7.7 La Vie en Rose
661 7.7 Star Wars: Episode III - Revenge of the Sith
662 7.7 True Grit
663 7.7 After Hours
664 7.7 Frozen
665 7.7 Lolita
666 7.7 Eastern Promises
667 7.7 Midnight in Paris
668 7.7 The Muppet Christmas Carol
669 7.7 Who Framed Roger Rabbit
670 7.7 Sympathy for Lady Vengeance
671 7.7 Grindhouse
672 7.7 In a Better World
673 7.7 Blow-Up
674 7.7 The Secret World of Arrietty
675 7.7 Kiss Kiss Bang Bang
676 7.7 Lost Highway
677 7.7 Zodiac
678 7.7 Les Miserables
679 7.7 Moulin Rouge!
680 7.7 Whale Rider
681 7.7 End of Watch
682 7.7 Philomena
683 7.7 Fury
684 7.7 The Big Blue
685 7.7 First Blood
686 7.7 Minority Report
687 7.7 Spellbound
688 7.7 The Wicker Man
689 7.7 Seven Pounds
690 7.7 Midnight Express
691 7.7 Kelly's Heroes
692 7.7 MASH
693 7.7 The Player
694 7.7 Traffic
695 7.7 Y Tu Mama Tambien
696 7.7 Stranger Than Fiction
697 7.7 Inside Man
698 7.6 127 Hours
699 7.6 The Fifth Element
700 7.6 Milk
701 7.6 United 93
702 7.6 Jin ling shi san chai
703 7.6 Dracula
704 7.6 High Plains Drifter
705 7.6 I Am Sam
706 7.6 Fried Green Tomatoes
707 7.6 Watchmen
708 7.6 28 Days Later...
709 7.6 The Illusionist
710 7.6 Superbad
711 7.6 The Godfather: Part III
712 7.6 The Royal Tenenbaums
713 7.6 The Jungle Book
714 7.6 Thank You for Smoking
715 7.6 Man Bites Dog
716 7.6 A Few Good Men
717 7.6 The Legend of Drunken Master
718 7.6 The Kite Runner
719 7.6 When Harry Met Sally...
720 7.6 Munich
721 7.6 House of Sand and Fog
722 7.6 Lethal Weapon
723 7.6 Animal House
724 7.6 Lord of War
725 7.6 Blow
726 7.6 Sherlock Holmes
727 7.6 Harry Potter and the Goblet of Fire
728 7.6 La piel que habito
729 7.6 The Crow
730 7.6 West Side Story
731 7.6 The Thin Red Line
732 7.6 American Psycho
733 7.6 The Blind Swordsman: Zatoichi
734 7.6 The Last Temptation of Christ
735 7.6 The Naked Gun: From the Files of Police Squad!
736 7.6 The Others
737 7.6 The Party
738 7.6 Army of Darkness
739 7.6 The Hurt Locker
740 7.6 The Raid: Redemption
741 7.6 Volver
742 7.6 Following
743 7.6 Kung Fu Panda
744 7.6 Mad Max 2: The Road Warrior
745 7.6 Jusan-nin no shikaku
746 7.6 The Man Who Wasn't There
747 7.6 The Counterfeiters
748 7.6 The Hunt for Red October
749 7.6 Lone Survivor
750 7.6 A Fish Called Wanda
751 7.6 The Impossible
752 7.6 Garden State
753 7.6 Escape from Alcatraz
754 7.6 Apollo 13
755 7.6 Lust, Caution
756 7.6 Selma
757 7.6 Funny Games
758 7.6 The Abyss
759 7.6 Robin Hood
760 7.6 Enemy at the Gates
761 7.6 Falling Down
762 7.6 Little Children
763 7.6 Hunger
764 7.6 Indiana Jones and the Temple of Doom
765 7.6 Ip Man 2
766 7.6 The Little Mermaid
767 7.6 It's a Mad, Mad, Mad, Mad World
768 7.6 The Reader
769 7.6 The Omen
770 7.6 A Royal Affair
771 7.6 Braindead
772 7.6 Secondhand Lions
773 7.6 Disconnect
774 7.6 A Single Man
775 7.6 Hoosiers
776 7.6 Moneyball
777 7.6 The Book Thief
778 7.6 Die Hard: With a Vengeance
779 7.6 Interview with the Vampire: The Vampire Chronicles
780 7.6 Midnight Run
781 7.6 An American Werewolf in London
782 7.6 The Great Debaters
783 7.6 Tucker and Dale vs. Evil
784 7.6 Dead Man Walking
785 7.6 The Piano
786 7.6 The Town
787 7.6 Rise of the Planet of the Apes
788 7.6 Boys Don't Cry
789 7.6 Ice Age
790 7.6 Of Mice and Men
791 7.6 Sideways
792 7.6 High Fidelity
793 7.6 The Meaning of Life
794 7.6 Hugo
795 7.6 Leaving Las Vegas
796 7.6 The Evil Dead
797 7.6 Collateral
798 7.6 Planes, Trains & Automobiles
799 7.6 Hodejegerne
800 7.6 Field of Dreams
801 7.6 Batman
802 7.6 Tell No One
803 7.6 Ghost Dog: The Way of the Samurai
804 7.6 Chaplin
805 7.6 Keith
806 7.6 Juno
807 7.6 The Assassination of Jesse James by the Coward Robert Ford
808 7.6 The Fisher King
809 7.6 House of Flying Daggers
810 7.6 The Hours
811 7.6 The Damned United
812 7.6 Star Trek: First Contact
813 7.6 The Natural
814 7.6 The Hobbit: The Battle of the Five Armies
815 7.6 Equilibrium
816 7.6 August Rush
817 7.6 Saving Mr. Banks
818 7.6 The Hurricane
819 7.6 Jacob's Ladder
820 7.6 The Curse of the Were-Rabbit
821 7.6 Christmas Vacation
822 7.5 Good Night, and Good Luck.
823 7.5 Straw Dogs
824 7.5 42
825 7.5 Rudy
826 7.5 Sleepers
827 7.5 The Wind That Shakes the Barley
828 7.5 Gangs of New York
829 7.5 Elizabeth
830 7.5 Green Street Hooligans
831 7.5 Reign Over Me
832 7.5 RoboCop
833 7.5 The Life of David Gale
834 7.5 Life as a House
835 7.5 Despicable Me 2
836 7.5 Jackie Brown
837 7.5 Menace II Society
838 7.5 The Class
839 7.5 Bullets Over Broadway
840 7.5 American Splendor
841 7.5 Perfume: The Story of a Murderer
842 7.5 Cloud Atlas
843 7.5 Marathon Man
844 7.5 Pinocchio
845 7.5 The Painted Veil
846 7.5 A Simple Plan
847 7.5 The Conjuring
848 7.5 The Man Who Knew Too Much
849 7.5 Quiz Show
850 7.5 American Graffiti
851 7.5 The Bridges of Madison County
852 7.5 Gallipoli
853 7.5 L'illusionniste
854 7.5 Miracle
855 7.5 Maria Full of Grace
856 7.5 Scott Pilgrim vs. the World
857 7.5 Pleasantville
858 7.5 Sherlock Holmes: A Game of Shadows
859 7.5 Doubt
860 7.5 The Fly

861 7.5 The Orphanage
862 7.5 Malena
863 7.5 Three Days of the Condor
864 7.5 [Rec]
865 7.5 A Perfect World
866 7.5 To Catch a Thief
867 7.5 Best in Show
868 7.5 Everything Is Illuminated
869 7.5 A Nightmare on Elm Street
870 7.5 The Ice Storm
871 7.5 X2
872 7.5 We Need to Talk About Kevin
873 7.5 Felon
874 7.5 Still Alice
875 7.5 Rust and Bone
876 7.5 Freedom Writers
877 7.5 Legends of the Fall
878 7.5 Buffalo '66
879 7.5 The Constant Gardener
880 7.5 My Cousin Vinny
881 7.5 The Texas Chain Saw Massacre
882 7.5 Mulan
883 7.5 A History of Violence
884 7.5 Open Range
885 7.5 Total Recall
886 7.5 Pi
887 7.5 The Devil's Backbone
888 7.5 The Aviator
889 7.5 Devil's Advocate
890 7.5 The Adventures of Priscilla, Queen of the Desert
891 7.5 Harry Potter and the Half-Blood Prince
892 7.5 Fruitvale Station
893 7.5 In the Bedroom
894 7.5 Source Code
895 7.5 Biutiful
896 7.5 From Russia with Love
897 7.5 Calvary
898 7.5 The Mission
899 7.5 In the Loop
900 7.5 The Three Burials of Melquiades Estrada
901 7.5 Babel
902 7.5 Frenzy
903 7.5 Heavenly Creatures
904 7.5 Sweeney Todd: The Demon Barber of Fleet Street
905 7.5 Dracula
906 7.5 Looper
907 7.5 The Proposition
908 7.5 Bullitt
909 7.5 Harry Potter and the Sorcerer's Stone
910 7.5 2046
911 7.5 Transamerica
912 7.5 Smoke
913 7.5 Suspiria
914 7.5 The Judge
915 7.5 Bad Education
916 7.5 Up in the Air
917 7.5 Begin Again
918 7.5 Running Scared
919 7.5 Ghost World
920 7.5 Witness
921 7.5 Trading Places
922 7.5 Mud
923 7.5 Across the Universe
924 7.5 Les Miserables
925 7.5 Notes on a Scandal
926 7.5 Inside Llewyn Davis
927 7.5 Brick
928 7.5 Clerks II
929 7.5 Say Anything...
930 7.4 Man on the Moon
931 7.4 Mean Streets
932 7.4 Harry Potter and the Order of the Phoenix
933 7.4 Beetlejuice
934 7.4 Crazy, Stupid, Love.
935 7.4 Excalibur
936 7.4 True Grit
937 7.4 Labyrinth
938 7.4 Alice in Wonderland
939 7.4 Predestination
940 7.4 Much Ado About Nothing
941 7.4 A Bridge Too Far
942 7.4 Raising Arizona
943 7.4 The Bucket List
944 7.4 Terms of Endearment
945 7.4 Take Shelter
946 7.4 Far from Heaven
947 7.4 Eraserhead
948 7.4 Frances Ha
949 7.4 Home Alone
950 7.4 Bound
951 7.4 Sleepy Hollow
952 7.4 Pirate Radio
953 7.4 The NeverEnding Story
954 7.4 X-Men
955 7.4 Zero Dark Thirty
956 7.4 Manhattan Murder Mystery
957 7.4 National Lampoon's Vacation
958 7.4 My Sister's Keeper
959 7.4 Deconstructing Harry
960 7.4 The Way Way Back
961 7.4 Capote
962 7.4 Driving Miss Daisy
963 7.4 La Femme Nikita
964 7.4 Lincoln
965 7.4 Limitless
966 7.4 The Simpsons Movie
967 7.4 The Rock
968 7.4 The English Patient
969 7.4 Law Abiding Citizen
970 7.4 Wonder Boys
971 7.4 Death at a Funeral
972 7.4 Blue Valentine
973 7.4 The Cider House Rules
974 7.4 Tootsie
975 7.4 Back to the Future Part III
976 7.4 Master and Commander: The Far Side of the World
977 7.4 Poltergeist
978 7.4 Wall Street

# Drop all non-numeric columns from a DataFrame

In [73]:
movies = pd.read_csv('imdb_1000.csv')
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [74]:
# only include numeric columns in the DataFrame
import numpy as np
movies.select_dtypes(include=[np.number]).dtypes

star_rating    float64
duration         int64
dtype: object

Documentation for [**`select_dtypes`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.select_dtypes.html)

In [75]:
# describe all of the numeric columns
movies.describe()

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

In [76]:
# pass the string 'all' to describe all columns
movies.describe(include='all')

,star_rating,title,content_rating,genre,duration,actors_list
count,979.000000,979,976,979,979.000000,979
unique,NaN,975,12,16,NaN,969
top,NaN,Les Miserables,R,Drama,NaN,"[u'Daniel Radcliffe', u'Emma Watson', u'Rupert..."
freq,NaN,2,460,278,NaN,6
mean,7.889785,NaN,NaN,NaN,120.979571,NaN
std,0.336069,NaN,NaN,NaN,26.218010,NaN
min,7.400000,NaN,NaN,NaN,64.000000,NaN
25%,7.600000,NaN,NaN,NaN,102.000000,NaN
50%,7.800000,NaN,NaN,NaN,117.000000,NaN
75%,8.100000,NaN,NaN,NaN,134.000000,NaN
max,9.300000,NaN,NaN,NaN,242.000000,NaN

In [77]:
# pass a list of data types to only describe certain types
movies.describe(include=['object', 'float64'])

,star_rating,title,content_rating,genre,actors_list
count,979.000000,979,976,979,979
unique,NaN,975,12,16,969
top,NaN,Les Miserables,R,Drama,"[u'Daniel Radcliffe', u'Emma Watson', u'Rupert..."
freq,NaN,2,460,278,6
mean,7.889785,NaN,NaN,NaN,NaN
std,0.336069,NaN,NaN,NaN,NaN
min,7.400000,NaN,NaN,NaN,NaN
25%,7.600000,NaN,NaN,NaN,NaN
50%,7.800000,NaN,NaN,NaN,NaN
75%,8.100000,NaN,NaN,NaN,NaN
max,9.300000,NaN,NaN,NaN,NaN

In [78]:
# pass a list even if you only want to describe a single data type
movies.describe(include=['object'])

,title,content_rating,genre,actors_list
count,979,976,979,979
unique,975,12,16,969
top,Les Miserables,R,Drama,"[u'Daniel Radcliffe', u'Emma Watson', u'Rupert..."
freq,2,460,278,6

# "axis" parameter in pandas

In [ ]:
movies = pd.read_csv('imdb_1000.csv')
movies.head()

In [ ]:
# drop a column (temporarily)
movies.drop('duration', axis=1).head()

In [ ]:
# drop a row (temporarily)
movies.drop(2, axis=0,inplace=True).head()

When **referring to rows or columns** with the axis parameter:

- **axis 0** refers to rows
- **axis 1** refers to columns

In [79]:
# calculate the mean of each numeric column
movies.mean()

# or equivalently, specify the axis explicitly
movies.mean(axis=0)

star_rating      7.889785
duration       120.979571
dtype: float64

In [80]:
# calculate the mean of each row
movies.mean(axis=1).head()

0     75.65
1     92.10
2    104.55
3     80.50
4     81.45
dtype: float64

When performing a mathematical operation with the axis parameter:

- axis 0 means the operation should "move down" the row axis
- axis 1 means the operation should "move across" the column axis

In [81]:
# 'index' is an alias for axis 0
movies.mean(axis='index')

star_rating      7.889785
duration       120.979571
dtype: float64

In [82]:
# 'columns' is an alias for axis 1
movies.mean(axis='columns').head()

0     75.65
1     92.10
2    104.55
3     80.50
4     81.45
dtype: float64

# string methods in pandas

In [48]:
movies = pd.read_csv('imdb_1000.csv')
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [49]:
# normal way to access string methods in Python
'hello'.upper()

'HELLO'

In [50]:
# string methods for pandas Series are accessed via 'str'
movies.title.str.upper().head()

0    THE SHAWSHANK REDEMPTION
1               THE GODFATHER
2      THE GODFATHER: PART II
3             THE DARK KNIGHT
4                PULP FICTION
Name: title, dtype: object

In [51]:
# string method 'contains' checks for a substring and returns a boolean Series
movies.title.str.contains('godfather').head()

0    False
1    False
2    False
3    False
4    False
Name: title, dtype: bool

In [54]:
# string methods can be chained together
movies.actors_list.str.replace('[', '!').str.replace(']', '!').head()

0    !u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
1      !u'Marlon Brando', u'Al Pacino', u'James Caan'!
2    !u'Al Pacino', u'Robert De Niro', u'Robert Duv...
3    !u'Christian Bale', u'Heath Ledger', u'Aaron E...
4    !u'John Travolta', u'Uma Thurman', u'Samuel L....
Name: actors_list, dtype: object

In [53]:
movies.actors_list.str.replace('[', '',inplace=True)
#movies.actors_list.str.replace(']', '')

TypeError: replace() got an unexpected keyword argument 'inplace'